body {
    background-color: rgb(214, 214, 214);
}

p {
    font: bold;
    text-align: center;
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-style: oblique;
    font-weight: bolder;
}

p p .container {
    width: 250px;
    height: 400px;
    margin: 80px auto;
    border-radius: 10px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

.cal-box {
    width: 200px;
    margin: 20px auto;
}

#display {
    border: none;
    outline: none;
    text-align: right;
    font-weight: 600;
    padding: 15px;
    margin: 30px 0 20px 0;
    background: transparent;
    border-radius: 100px;
    cursor: not-allowed;
    box-shadow: inset 20px 20px 50px #babecc, inset -50px -50px 100px #ffffff;
}

.button {
    margin: 15px 0 0 5px;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    display: inline-block;
}

.button:active {
    box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff;
}

.clearbutton {
    background: red;
    color: white;
}

.mathbutton {
    background: black;
    color: white;
}